* {
    margin:0;
    padding:0;
}
html{
    background-color:rgb(38, 36, 36);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1 rem;
    background-color: rgb(46, 22, 177);
}

h1{
    color:bisque;
    background-color: rgb(46, 22, 177);
    padding: 0.5rem;
}

.wordinputsection{
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 18px;
    background-color: rgb(46, 22, 177);
}

label{
    color:aliceblue;
    padding-left:0.5rem;
    padding-top: 5rem;
}

header{
    background-color: aqua;
    padding-left: 0.5rem;
    padding-top: 1.4rem;
}

.meaningsection1{
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
}

.meaningsection2{
    font-size: 1rem;
    display: flex;
    justify-content: center;
}

input{
    border: 5px solid red ;
    height:4vh;
    border-radius:1vw;
    outline:-6px solid black;
    font-size: 1rem;
    max-width: fit-content;
}

#logo {
    width:100px;
    height:100px;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}

